<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/services_banner.png'); background-position: unset; background-size: cover;">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/logo.png" alt="Circle Image" class="img-rounded img-no-padding img-responsive" style="box-shadow: 0 0 20px #000000;">
                </div>
                <div class="name">
                    <h4 class="title">Jungle Kids Consulting<br /></h4>
                    <h6 class="description">A IT Consulting Company</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An IT Consulting Company serving Halifax local community. </p>
                </div>
            </div>
            <br/>
          <div class="section" id="carousel">
            <div class="container">
              <div class="tim-title">
                <h3>Our Recent Work</h3>
              </div>
              <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                  <div class="card page-carousel">
                    <ngb-carousel>
                      <ng-template ngbSlide>
                        <a target="_blank" href="https://www.carmanbathtub.com/"><img src="./assets/img/carman.png" alt="Carmans Bath Tub Refinishing"></a>
                        <div class="carousel-caption">
                          <p>Carmans Bath Tub Refinishing</p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <a target="_blank" href="http://noodlenami.ca"><img src="./assets/img/noodlenami.PNG" alt="Noodle Nami"></a>
                        <div class="carousel-caption">
                          <p>Noodle Nami</p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <a target="_blank" href="http://www.taishanstore.net"><img src="./assets/img/taishan.PNG" alt="Taishan Grocery"></a>
                        <div class="carousel-caption">
                          <p>Taishan Grocery</p>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
